* {
  font-family: Roboto, Helvetica, sans-serif;
}
body {
  background-color: #f5f8fc;
  padding: 20px;
}
a {
  color: #3182ce;
}
a:hover {
  color: #2c5282;
  cursor: pointer;
}
.title {
  padding: 20px 0px 0px 0px;
  font-size: 22px;
  color: black;
  font-weight: 600;
  text-align: center;
}
.date {
  padding: 20px 0px 0px 0px;
  font-size: large;
  text-align: center;
}
th:first-child,
td:first-child {
  padding-left: 20px;
  padding-right: 0;
}
th,
td {
  padding-right: 20px;
  overflow-wrap: break-word;
}
.name-td {
  word-break: break-all;
}
.main-table {
  width: 600px;
  border: 0;
  border-spacing: 20px;
  padding: 10px 10px 10px 10px;
  max-width: 600px;
  margin: auto;
  background: white;
  border-collapse: collapse;
  table-layout: fixed;
}
tr.space > td {
  padding-bottom: 1em;
  padding-top: 1em;
}
tr.space > th {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.lg {
  font-size: large;
}

.bold {
  font-weight: 600;
}

.spaced {
  margin-bottom: 1em;
}

.spaced-more {
  margin-bottom: 1.5em;
}

.centered-text {
  text-align: center;
}

.bottom-border {
  border-bottom: 1pt solid #cbd5e0;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
