* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #171923;
  padding: 20px;
  border-radius: 20px;
}

a {
  color: #3182ce;
}

a:hover {
  color: #2c5282;
  cursor: pointer;
}

.title-table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  padding: 0;
}

.title {
  padding: 10px 0px 20px 0px;
  font-size: 22px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.main-table {
  width: 100%;
  border: 0;
  border-spacing: 20px;
  padding: 0;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
  background: white;
}

.severity-display {
  font-size: large;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: 600;
  width: fit-content;
  text-align: center;
}

.lg {
  font-size: large;
}

.warning {
  background-color: #ecc94b;
  color: #ffffff;
}

.severe {
  background-color: #ed8936;
  color: #ffffff;
}

.critical {
  background-color: #e53e3e;
  color: #ffffff;
}

.red-500 {
  color: #e53e3e;
}

.green-500 {
  color: #48bb78;
}

.bold {
  font-weight: 600;
}

.spaced {
  margin-bottom: 1em;
}

.spaced-more {
  margin-bottom: 1.5em;
}

.centered-text {
  text-align: center;
}

.down {
  font-weight: 600;
  color: #e53e3e;
}

.up {
  font-weight: 600;
  color: #48bb78;
}
